#player-turn {
  text-align: center;
  margin-top: 20px;
}
.game-menu {
  width: 400px;
  left: 50%;
  transform: translatex(-50%);
  height: 450px;
  position: absolute;
  z-index: 6;
  backdrop-filter: blur(10px);
  margin: auto auto auto auto;
  background-color: #cc08;
}
.game-result {
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}
.game-restart {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  cursor: pointer;
  border-radius: 10px;
  height: 70px;
  font-size: 0.8em;
  font-weight: bolder;
  background-color: #fff;
  border: 2px solid black;
}
.game-restart:hover {
  background-color: #ddd7;
}
.game-choices-container {
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: auto;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
body {
  background-color: #fff;
}
.player1 {
  width: 100px;
  height: 10px;
  background-color: red;
}
.ekis1 {
  transform: rotate(-45deg);
}
.ekis2 {
  transform: rotate(45deg);
}
.player2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 7px solid blue;
}
.player1-container,
.player2-container {
  width: 147px;
  height: 147px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.player1,
player2 {
  position: absolute;
  cursor: pointer;
}

.box {
  background-color: white;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  cursor: pointer;
}
.box:hover {
  background-color: whitesmoke;
}
.box-container {
  margin: 7% auto auto auto;
  width: 450px;
  display: grid;
  grid-template-columns: auto auto auto;
}
